<%- include('template/cabecera', {tituloWeb: 'Curriculum'})%>

   <div class="ContenPadre">
      <div class="container">

         <div class="element1">
               
            <div class="img-container">
               <div class="caja_perfil">
                  <img class="perfil_img" src="../img/perfil.jpg" alt="error" />
               </div>
            </div>
               
            <div class="enlaces__flex">
                     
               <div class="enlaces">

                  <div class="enlaces__grid">
                        <h1><a href="https://twitter.com/rexs_gamer"><span class="icon-twitter"></span></a></h1>
                  </div>
                  <div class="enlaces__grid">
                     <h1><a href="https://www.instagram.com/zeta_gamer17/?hl=es"><span class="icon-instagram"></span></a></h1>
                  </div>
                  <div class="enlaces__grid">
                     <h1><a href="tg://resolve?domain=ZetaBumer"><span class="icon-telegram"></span></a></h1>
                  </div>

               </div>

               <!-- <div class="enlaces">
               </div>

               <div class="enlaces">
               </div>  -->
            </div>
                  
            <div class="tabla">

               <h1 class="titular_id inf-caja">Carlos Enrique Zambrano Campos</h1>

               <p>Estudiante de ingeniería en sistemas</p>

               <p class="tipografia type_hover">
                  <span class="icon-location"></span>
                  <a href="https://maps.app.goo.gl/tZbbK6zdceCwVnUg9">
                     Uvicación de vivienda
                  </a>
               </p>
            </div>

            <div class="tabla">

               <h1 class="titular_id inf-caja">Cédula y fecha de nacimiento</h1>
               <p class="tipografia">
                  <span class="icon-newspaper"></span>
                  V-30.463.45
               </p>
               <p class="tipografia">
                  <span class="icon-calendar"></span>
                  04/08/2002
               </p>
               <p class="tipografia">
                  <span class="icon-user"></span>
                  18 años de edad
               </p>
            </div>

            <div class="tabla">

               <h1 class="titular_id inf-caja">Redes sociales</h1>

               <p class="tipografia type_hover">
                  <span class="icon-mail3"></span>
                  <a href="mailto:cezc14@email.com">
                     Gmail
                  </a>
               </p>
               <p class="tipografia">
                  <span class="icon-whatsapp"></span>
                  <a>
                     +58 424-361-3482
                  </a>
               </p>
               <p class="tipografia type_hover">
                  <span class="icon-facebook"></span>
                  <a href="https://www.facebook.com/profile.php?id=100009093447186">
                     facebook
                  </a>
               </p>
            </div>
         </div>
            
         <div class="element">

            <div class="DatosP">
                  <h1 class="prim1">DATOS PERSONALES</h1>
                  <!-- <div class="grid-cont"></div> -->
            </div>

            <div>
               <div class="element">
                  <div>
                     <div class="contenido">

                        <h1 class="titular_id fixed_ovel">Formación Académica</h1>

                           <div class="info_lavoral">
                              <div class="cajaenpuntos texte">

                                 <div class="valoreeninfo sec">

                                    <div class="info_lavoral">
                                       <div class="textdescr">
                                          <h1 class="ikom">Primaria</h1>
                                       </div>
                                    </div>

                                    <div class="center_text">
                                       <p>E.B.E "Andrés Bello"</p>
                                    </div>

                                    <div class="cajita_links">
                                       <p class="links-ubication type_hover">
                                          <span class="icon-location ube"></span>
                                          <a href="https://maps.app.goo.gl/dckYgM7qsGQD2ace7">
                                             San Juan de los Morros,Guarico
                                          </a>
                                       </p>
                                    </div>

                                    <div class="calification">
                                       <p>Calificación promedio: B</p>
                                       <p>Cursado desde 2008 hasta el 2014</p>
                                    </div>  
                                 </div>

                                 <div class="valoreeninfo sec">

                                    <div class="info_lavoral">
                                       <div class="textdescr">

                                          <h1 class="ikom">
                                             Primaria
                                          </h1>
                                          
                                       </div>
                                    </div>

                                    <div class="center_text">
                                       <p>Av. Jóse Félix Ribas</p>
                                    </div>

                                    <div class="cajita_links">

                                       <p class="links-ubication type_hover">

                                          <span class="icon-location ube"></span>

                                          <a href="https://maps.app.goo.gl/uiEk69WBCES8dieC7">
                                             San Juan de los Morros,Guarico
                                          </a>

                                       </p>

                                    </div>

                                    <div class="calification">
                                       <p>Calificación promedio: 15.3</p>
                                       <p>Cursado desde el 2015 hasta el 2019</p>
                                    </div>
                                 </div>

                                 <div class="valoreeninfo sec">

                                    <div class="info_lavoral">
                                       <div class="textdescr">
                                          <h1 class="ikom">Primaria</h1>
                                       </div>
                                    </div>

                                    <div class="center_text">
                                       <p>Romulo Gallego "UNERG"</p>
                                    </div>

                                    <div class="cajita_links">

                                       <p class="links-ubication type_hover">

                                          <span class="icon-location ube"></span>

                                          <a href="https://maps.app.goo.gl/kZMEaCZpZVd48rRj8">
                                             San Juan de los Morros 2301,Guarico
                                          </a>

                                       </p> 
                                    </div>

                                    <div class="calification">
                                       <p>Calificación promedio: 5</p>
                                       <p>Actualmente cursando</p>
                                    </div>
                                 </div>

                              </div>

                           </div>
                           <div>

                              <div class="contenido">

                                 <h1 class="titular_id fixed_ovel">Habilidades y Destrezas</h1>
                     
                                 <div class="texte">

                                    <div class="info_lavoral"></div>
                                    <div class="info_lavoral HaBil">
                                       <div class="cajadeHaBil texte">
                                          <div class="valoreeninfo sec3">
                                             
                                             <ul class="HaBilDescrip">
                                                <li>Diseñador Grafico (Principiante).</li>
                                                <li>Fotógrafo (Principiante).</li>
                                                <li>Dibujante.</li>
                                                <li>Buena presencia para la atención al cliente</li>
                                                <li>Comportamiento profesional con clientes y compañeros dentro del área laboral.</li>
                                             </ul>

                                          </div>
                                          <div class="valoreeninfo sec3">
                                             
                                             <ul class="HaBilDescrip">
                                                <li>Cantante.</li>
                                                <li>Aprendisaje rápido.</li>
                                                <li>Tendencia a ayudar a los compañeros de trabajo.</li>
                                                <li>Acatamiento de ordenes.</li>
                                                <li>Dispuesto a poner todo su esfuerzo en la tarea asignada.</li>
                                             </ul>

                                          </div>
                                       </div>
                                    </div>

                                 </div>
                              </div> 

                           </div>


                     </div>
                              <!-- <div class="cajaenpuntos texte"> -->                
                              <!-- <div class="cajaenpuntos texte"></div> -->
                  </div>
               </div>

            </div>

         </div>

      </div>
   </div>

<%- include('template/footer')%>